@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Nanum+Gothic:wght@400;700&display=swap');

@font-face {
    font-family: 'Lucky Beauty';
    src: url(../fonts/lucky-beauty-italic.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Lucky Beauty';
    src: url(../fonts/lucky-beauty.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Cula';
    src: url(../fonts/cula.woff2) format('woff2');
    font-weight: 400;
}