@font-face {
    font-family: 'Lucky Beauty',
        serif;
    src: url(../fonts/Lucky_Beauty.ttf)
}

@font-face {
    font-family: 'Cula',
        sans-serif;
    src: url(../fonts/cula.ttf)
}

$font-en: 'Inter',
san-serif;
$font-sub: 'Cula',
sans-serif